<!DOCTYPE html>
<html lang="pt-BR">

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Triis</title>
    <meta property="og:title" content="Triis || Portifolio">
    <meta property="og:description" content="Apenas meu simples site!">
    <meta property="og:url" content="https://triis.lol">
    <meta name="twitter:title" content="Triis">
    <meta name="twitter:description" content="Apenas meu simples site!">
    <meta name="twitter:creator" content="@Triis_0007">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="Stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://kit.fontawesome.com/04f88c670e.js" crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <br>
    <div class="container">
        <img class="imgcentral" src="https://pbs.twimg.com/profile_images/1689091967571939328/AyV39tQ6_400x400.jpg">
        <h1 class="center"> <b>Triis</b> </h1>
        <h3 class="center"><i>Ela/dela</i></h3>
        <h3 class="text2"> Seja muito bem-vindo(a) ao meu site!</h3>
    </div>
    <div class="container center">
        <div class="row">
            <div class="col-sm">
                <h2 class="text3"><i class="fa-solid fa-circle-info"></i> Sobre mim:</h2>
                <p class="text4">Meu nome é <b>Tris</b> sou Gênero Fluido e faço lives na Twitch de vez em quando e
                    também sei um <b>pouco</b> de <b>programação!</b></p>
                Sei também mexer com <b>Linux</b>, mas bem pouco, e ainda estou aprendendo! </p>
                No momento estou cursando <b>Desenvolvimento de Sistemas</b> em uma ETEC da Grande <b>São Paulo!</b></p>
                Adoro criar coisas, sejam elas <b>sites</b>, <b>bots do Discord</b> e até <b>servidores de
                    Minecraft!</b></p>
                Atualmente "trabalhando" no <b>Elysium SMP</b>, um servidor de <b>Minecraft e SMP!</b></p>
            </div>
            <div class="container center">
                <h2 class="text3"><i class="fa-solid fa-share-nodes"></i> Redes sociais:</h2>
                <a href="https://twitter.com/Triis_0007" class="btn btn-primary"><i class="fa-brands fa-x-twitter">
                    </i>Twitter</a>
                <a href="https://twitch.tv/triis0007" class="btn btn-primary"><i class="fab fa-twitch"></i> Twitch</a>
                <a href="https://discord.gg/kV5vqtgnQz" class="btn btn-primary"><i class="fab fa-discord"></i> Meu
                    servidor</a>
                <a href="https://github.com/Triis0007" class="btn btn-primary"><i class="fab fa-github"></i> GitHub</a>
                <br>
                <a href="https://pt.pronouns.page/@triis" style="margin: 6px auto;" class="btn btn-primary">Pronouns
                    Page</a>
            </div>
            <br>

            <div class="container">
                <div class="row">
                    <h2 class="text3"> Veja alguns de meus projetos:</h2>
                    <br>
                    <div class="card cardespecial" style="width: 18rem;">
                        <img class="imgcard"
                            src="https://images-ext-1.discordapp.net/external/KYtjNxIkLhDlhi6KqcP3Y_LuBLQx1m0Z5t3iJCG20Wg/%3Fsize%3D2048/https/cdn.discordapp.com/icons/1157812505624715364/9d4d57e4d4fa3412adbec8ada5680c20.png?format=webp&quality=lossless&width=662&height=662"
                            class="card-img-top" alt="Elysium SMP">
                        <div class="card-body">
                            <h5 class="card-title">Elysium SMP</h5>
                            <p class="card-text">Elysium SMP é um servidor de SMP! Entre agora neste mundo de mágia e
                                mistérios!</p>
                            <a href="https://discord.gg/NxWAbEnZDf" class="btn btn-danger">Servidor do Discord</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="imgcard"
                            src="https://camo.githubusercontent.com/b660d9a522b47e015f4211e14b911834176f85b426c64a8ebb2b4482590b40d7/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f313230353531363536323134303838393135302f313230363732363233313432393631393732322f31355f53656d5f546974756c6f5f32303234303231313232343930322e706e673f65783d36356464306536312669733d363563613939363126686d3d3532383764613866626437633936643565343933643465323065613935643135613431336262376361363739633739383062313931363836346230386533613926"
                            class="card-img-top" alt="Denky logo">
                        <div class="card-body">
                            <h5 class="card-title">Denky</h5>
                            <p class="card-text">Denky é um novo e mais completo bot do Discord!</p>
                            <a href="https://denky.site" class="btn btn-warning">Website</a>
                        </div>
                    </div>
                </div>
            </div>        
            <br>

</body>

</html>